.recipe__search__category {
    &__box {
        border-radius: 5px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        width: 150px;
        height: 175px;
        cursor: pointer;

        &:before {
            content: "";
            border-radius: 5px;
            position: absolute;
            width: 135px;
            height: 160px;
            background-color: #ffffffc9;
            transition: all 200ms ease-in-out;
        }

        &:hover div {
            .box__icon {
                visibility: hidden;
                opacity: 0;
            }

            .box__iconC {
                visibility: visible;
                opacity: 1;
            }
        }

        &:link {
            text-decoration: none;
        }

        div{
            position: relative;
            z-index: 1;
            width: 100px;
            height: 100px;

            img {
                position: absolute;
                width: 100px;
            }

            .box__icon {
                visibility: visible;
                opacity: 1;
                transition: all 300ms ease-in-out;
            }
            
            .box__iconC {
                visibility: hidden;
                opacity: 0;
                transition: all 300ms ease-in-out;
            }
        }

        p {
            z-index: 1;
            color: black;
            font: {
                size: 1.5rem;
                weight: bold;
            }
        }
    }

    .index {
        &-rice {
            background-color: #EB5757;
        }
        
        &-sidedish {
            background-color: #F2994A;
        }
        
        &-stew {
            background-color: #F2C94C;
        }
        
        &-dish {
            background-color: #219653;
        }
        
        &-fried {
            background-color: #2F80ED;
        }
        
        &-bread {
            background-color: #56CCF2;
        }
        
        &-dessert {
            background-color: #9B51E0;
        }
    }

    .click {
        &rice, &sidedish, &stew, &dish, &fried, &bread, &dessert {

            div {
                .box__icon {
                    visibility: hidden;
                    opacity: 0;
                }
                
                .box__iconC {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}