.detail-recipe {
    box-sizing: border-box;
    padding: 70px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    &__wrapper {
        box-sizing: border-box;
        padding: 40px;
        display: inline-flex;
        flex-direction: column;
        width: 1300px;
        background-color: #C4C4C4;
    }
}